.project-card {
  border: 1px solid black;
  width: 20vw;
  height: 30vh;
  color: white;
}

.main-project {
  background: red;
}

.game {
  background: green;
}

.codepen {
  background: yellow;
}

.proof-of-concept {
  background: white;
}
