.project-card {
  border: 1px solid black;
  /* width: 20vw;
  height: 30vh; */
  display: flex;
  justify-content: center;
}

.main-project {
  background: red;
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
  /* width: 20vw;
  height: 30vh; */
  width: 400px;
  height: 284px;
  color: var(--off-black);
  justify-content: center;
  margin: 2vh 5px;
}

/* .main-project :hover {
  color: black;
} */

.game {
  background: green;
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
  /* width: 20vw;
  height: 30vh; */
  width: 420px;
  height: 420px;
  color: var(--off-black);
  justify-content: center;
  margin: 2vh 5px;
}

/* .game :hover{

} */

.codepen {
  background: yellow;
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
  /* width: 20vw;
  height: 30vh; */
  width: 400px;
  height: 284px;
  color: var(--off-black);
  justify-content: center;
  margin: 2vh 5px;
}

/* .codepen :hover{
  
} */

.proof-of-concept {
  background: white;
  text-align: center;
  border: 1px solid black;
  /* width: 20vw;
  height: 30vh; */
  width: 400px;
  height: 284px;
  color: var(--off-black);
  justify-content: center;
  margin: 2vh 5px;
}

/* .proof-of-concept :hover{
  
} */
