.about {
  /* background-color: #0091a0; */
  background-color: #1c7787;
  color: var(--off-white);
  /* height: 92.9vh; */
  /* height: 125vh; */
  overflow: hidden;
  /* margin-top: 1em; */
  padding-top: 3em;
  text-align: center;
  min-height: 93.5vh;
}

.about p {
  color: var(--off-white);
}

/* .about h4 {
  text-align: center;
} */

.about ul > li {
  list-style: none;
  font-size: 1em;
  /* text-align: center; */
}
